.container {
    border: 1px solid rgba(0, 0, 0, .11);
    padding: 10px;
    width: 600px;
    text-align: center;
}
.table{
	margin: auto;
}
.controls-item {
    display: inline-block;
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

/* Green */
.success {
  border-color: #4CAF50;
  color: green;
}

.success:hover {
  background-color: #4CAF50;
  color: white;
}

/* Blue */
.info {
  border-color: #2196F3;
  color: dodgerblue;
}

.info:hover {
  background: #2196F3;
  color: white;
}
/* Red */
.danger {
  border-color: #f44336;
  color: red;
}

.danger:hover {
  background: #f44336;
  color: white;
}
thead tr{
	background: #25d42a;
	color: white;
}
tbody tr{
	background-color: #37f3de;
	color: #000000;	
}